################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Binaries
bin
obj
[Dd]ebug
[Rr]elease
dist
src/WebResources/src/**/*.js
src/WebResources/src/**/*.map
src/WebResources/dist

# Packages
packages
node_modules
